.form_url_header{
    text-align: center;
    font-size: 1.8rem;
    color: white;
}
.form_url{
    padding: 2rem;
    font-size: 1.6rem;
    text-align: center;
}
.form_url input{
    height: 4rem;
    padding-left: 1rem;
    outline: none;
    max-width: 90%;
    width: 30rem;
    font-size: 1.6rem;
    border-radius: 0.5rem;
    border: none;
}
.form_url button{
    height: 4rem;
    max-width: 90%;
    border: none;
    width: 30rem;
    outline: none;
    text-align: center;
    cursor: pointer;
    border-radius: 0.5rem;
    transition: all 200ms ease;
}
.form_url button:hover{
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.3);
}
.btn_container{
    margin-top: 2rem;
}
.display_link_container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4rem auto;
    font-size: 1.5rem;
}

.shortlink_here{
    display: block;
    background-color: aliceblue;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    margin-bottom: 1rem;
    height: 3.5rem;
    width: 30rem;
    max-width: 90%;
    outline: none;
    border: none;
}

.display_link_container button{
    padding: 0.3rem 0.6rem;
    cursor: pointer;
    border-radius: 0.3rem;
    border: none;
    transition: all 200ms ease;
    width: 30rem;
    max-width: 90%;
    height: 3rem;
    margin-top: 1rem;
}
.display_link_container button:hover{
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.4);
}